<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet"  href="stylesheets/excercise.css"> 
    <title>Excercise</title>
</head>
<body class="bg-dark">


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg">
        <div class="container-md">
          <a class="navbar-brand" href="/main">Welcome.<br>Scroll Down for more</a>
        </div>
  </nav>
  
<section>
   <div class="background-image">
   
   </div>
</section>
     
<div class="card">
  <div class="card-body">
    <h1 id="program">Muscle <br> Building Program </h1>
  </div>
</div>

    <h2 id="split">Workout split</h2>
    <div class="container mt-5">
        <div class="row">
          <div class="col">
        <table id="firstColor" class="table">
        <thead>
          <tr style="color:rgba(255, 115, 0, 0.747)">
            <th scope="col">Sr.NO</th>
            <th scope="col">Days</th>
            <th scope="col">Splits</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Monday</td>
            <td>Chest & Triceps</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Tuesday</td>
            <td>Back & Biceps</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td >Wednesday</td>
            <td>Abs & Cardio</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Thursday</td>
            <td>Shoulders & Traps</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Friday</td>
            <td>Legs</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Saturday</td>
            <td>Rest</td>
          </tr>
          <th scope="row">7</th>
            <td>Sunday</td>
            <td>Rest</td>
          </tr>
        </tbody>
      </table>
      </div>
      </div>
      </div>

      <hr style="width: 85%; background-color: rgb(0, 0, 0); position: absolute; left:7.59%; border-top: 3px solid rgb(240, 240, 234);">

    
      <div class="container mt-5"> 
        <div class="row">
          <div class="col">
        <table id="secondColor" class="table">
        <thead>                
        <tr>
          <td id="f" scope="row">MONDAY</tr>
        </tr> 
        </thead>

        <tbody>
          <tr>
            <th id="a" scope="row">1</th>
            <td><p id="a" style="color:whitesmoke">CHEST</p>
            <p id="superset">	1.SUPERSET<br>
              a) Barbell	Incline	Press	(Close	Grip)<br>
              b) Barbell	Incline	press	(Regular	Grip)</p>
            
              <p id="regularset">	2.REGULAR SET<br>
              a) Dumbbell	Press	(10sec	hold	last	rep)</p>

              <p id="superset"> 3.SUPERSET <br>
                a) Decline	Cable	Fly	(High	Angle)<br>
                b) Regular	Cable	fly	(Mid	Angle)</p>

              </td>
            <td><p id="a">SET1</p>
               
               <p><br>12</p>
               <p>12</p>
               <p><br>12</p>
               <p>12</p>
               <p>12</p>
            </td>

            <td><p id="a">SET2</p>
              <p><br>10</p>
              <p>10</p>
              <p><br>10</p>
              <p>10</p>
              <p>10</p>
            </td>
            <td><p id="a">SET3</p>
              <p><br>8</p>
              <p>8</p>
              <p><br>8</p>
              <p>8</p>
              <p>8</p>
            </td>
            <td><p id="a">SET4</p>
              <p><br>--</p>
              <p>--</p>
              <p><br>10</p>
              <p>--</p>
              <p>--</p>
            </td>
            <td><p id="a">SET5</p>
              
              <p><br>--</p>
          
              <p>--</p>
              <p><br>12</p>
              <p>--</p>
              <p>--</p>
            </td>
            
          </tr>
          <tr>
            <th  id="a" scope="row">2</th>
            <td><p id="a" style="color:whitesmoke">TRICEPS</p>
           <p id="superset">	1.SUPERSET<br>
              a) Rope	Triceps	Press	down<br>
              b) Dumbbell	or	Barbell	Skull	Crusher</p>
            
              <p id="regularset">	2.REGULAR SET<br>
                a) Bar	or	Rope	Overhead	Ext.<br>
                b) Triceps	Bench	Dips	(add	weight)</p>
              
                <td><p id="a">SET1</p>
               
                  <p><br>12</p>
                  <p>12</p>
                  <p>12</p>
                  <p>12</p>
                  
               </td>
   
               <td><p id="a">SET2</p>
                 <p><br>10</p>
                 <p>10</p>
                 <p>10</p>
                 <p>10</p>
               
               </td>
               <td><p id="a">SET3</p>
                 <p><br>8</p>
                 <p>8</p>
                 <p>8</p>
                 <p>8</p>
                 
               </td>
               <td><p id="a">SET4</p>
                 <p><br>--</p>
                 <p>--</p>
                 <p>--</p>
                 <p>--</p>
                 
               </td>
               <td><p id="a">SET5</p>
                 
                 <p><br>--</p>
             
                 <p>--</p>
                 <p>--</p>
                 <p>--</p>              
               </td>  
          </tr>     
        </tbody>
      </table>
      </div>
      </div>
      </div>

      <hr style="width: 85%; background-color: rgb(0, 0, 0); position: absolute; left:7.59%; border-top: 3px solid rgb(240, 240, 234);">

    
      <div class="container mt-5"> 
        <div class="row">
          <div class="col">
        <table id="secondColor" class="table">
        <thead>                
        <tr>
          <td id="f" scope="row">TUESDAY</tr>
        </tr> 
        </thead>

        <tbody>
          <tr>
            <th id="a" scope="row">1</th>
            <td><p id="a" style="color:whitesmoke">SHOULDERS & TRAPS</p>
            <p id="superset">	1.REGULAR SET<br>
              a) Barbell	Shoulder	Press
            </p>
            
              <p id="regularset">	2.DROP SET<br>
              a) Dumbbell	Press	(3rd	set	is	a	drop	set)</p>

              <p id="superset"> 3.SUPERSET <br>
                a) Rope	Face	Pull (with	rotation)<br>
                b) Single	Hand	DB	Side	Raise
              </p>
              

              <p id="superset"> 4.SUPERSET <br>
                a) DB	Rear	Delt	Fly<br>
                b) Dumbbell	or	Barbell	Shrugs
              </p>


              </td>
            <td><p id="a">SET1</p>
               
               <p><br>12</p>
               <p><br>12</p>
               <p><br>12</p>
               <p>12</p>
               <p>12</p>
               <p>12</p>
            </td>

            <td><p id="a">SET2</p>
              <p><br>10</p>
              <p><br>10</p>
              <p><br>10</p>
              <p>10</p>
              <p>10</p>
              <p>10</p>
            </td>
            <td><p id="a">SET3</p>
              <p><br>8</p>
              <p><br>8+8</p>
              <p><br>8</p>
              <p>8</p>
              <p>8</p>
              <p>8</p>
            </td>
            <td><p id="a">SET4</p>
              <p><br>--</p>
              <p><br>--</p>
              <p><br>--</p>
              <p>--</p>
              <p>--</p>
              <p>--</p>
            </td>
            <td><p id="a">SET5</p>
              
              <p><br>--</p>
          
              <p><br>--</p>
              <p><br>--</p>
              <p>--</p>
              <p>--</p>
              <p>--</p>
            </td>
            
          </tr>
         
        </tbody>
      </table>
      </div>
      </div>
      </div>
                  
      <hr style="width: 85%; background-color: rgb(0, 0, 0); position: absolute; left:7.59%; border-top: 3px solid rgb(240, 240, 234);">

    
      <div class="container mt-5"> 
        <div class="row">
          <div class="col">
        <table id="secondColor" class="table">
        <thead>                
        <tr>
          <td id="f" scope="row">WEDNESDAY</tr>
        </tr> 
        </thead>

        <tbody>
          <tr>
            <th id="a" scope="row">1</th>
            <td><p id="a" style="color:whitesmoke">CARDIO</p>
            <p id="superset">CARDIO:	TREADMILL	<br>
              – 5min	Slow	Walk (2.5mph	/	4.5kmph)<br>
              – 20min	Running	(6mph	/	10kmph)<br>
              – 5min	Cool	Down	(2.5mph	/	4.5kmph)
            </p>

              </td>
            <td><p id="a">SET1</p>
               
               <p><br>--</p>
               <p>--</p>
               <p>--</p>
            </td>

            <td><p id="a">SET2</p>
              <p><br>--</p>
              <p>--</p>
              <p>--</p>
            </td>
            <td><p id="a">SET3</p>
              <p><br>--</p>
              <p>--</p>
              <p>--</p>
            </td>
            <td><p id="a">SET4</p>
              <p><br>--</p>
              <p>--</p>
              <p>--</p>
            </td>
            <td><p id="a">SET5</p>
              
              <p><br>--</p>
          
              <p>--</p>
              <p>--</p>
            </td>
            
          </tr>
          <tr>
            <th  id="a" scope="row">2</th>
            <td><p id="a" style="color:whitesmoke">ABS</p>
           <p id="superset">	1.SUPERSET<br>
              a) Incline	Crunch	(7+7+7	reps)<br>
              b) Laying	Leg	Raise<br>
              c)  Planks	(90-120sec	hold)
            	</p>
              
                <td><p id="a">SET1</p>
                  <p><br>20</p>
                  <p>15-20</p>
                  <p>120sec.</p>               
               </td>
   
               <td><p id="a">SET2</p>
                 <p><br>20</p>
                 <p>15-20</p>
                 <p>100sec.</p>                        
               </td>
               <td><p id="a">SET3</p>
                 <p><br>20</p>
                 <p>15-20</p>
                 <p>90sec.</p>
               </td>
               <td><p id="a">SET4</p>
                 <p><br>--</p>
                 <p>--</p>
                 <p>--</p>             
               </td>
               <td><p id="a">SET5</p>
                 
                 <p><br>--</p>
                 <p>--</p>
                 <p>--</p>                            
               </td>  
          </tr>     
        </tbody>
      </table>
      </div>
      </div>
      </div>

      <hr style="width: 85%; background-color: rgb(0, 0, 0); position: absolute; left:7.59%; border-top: 3px solid rgb(240, 240, 234);">

    
      <div class="container mt-5"> 
        <div class="row">
          <div class="col">
        <table id="secondColor" class="table">
        <thead>                
        <tr>
          <td id="f" scope="row">THURSDAY</tr>
        </tr> 
        </thead>

        <tbody>
          <tr>
            <th id="a" scope="row">1</th>
            <td><p id="a" style="color:whitesmoke">BACK</p>
            <p id="superset">	1.SUPERSET<br>
              a) Lat bar	pull	down	(Close	Grip<br>
              b) Rope	rows	(seated	on	the	bench	or	floor)</p>
            
              <p id="regularset">	2.DROP SET<br>
              a) Dumbbell	Rows (3rd	set	is	a	drop	set)	</p>

              <p id="superset"> 3.SUPERSET <br>
                a) Barbell	Rows (Underhand	grip)<br>
                b) Hyper Extension	(holding	weight)</p>
              </td>
            <td><p id="a">SET1</p>
               
               <p><br>12</p>
               <p>12</p>
               <p><br>12</p>
               <p>12</p>
               <p>10</p>
            </td>

            <td><p id="a">SET2</p>
              <p><br>10</p>
              <p>10</p>
              <p><br>10</p>
              <p>10</p>
              <p>10</p>
            </td>
            <td><p id="a">SET3</p>
              <p><br>8</p>
              <p>8</p>
              <p><br>8+8</p>
              <p>10</p>
              <p>10</p>
            </td>
            <td><p id="a">SET4</p>
              <p><br>--</p>
              <p>--</p>
              <p><br>--</p>
              <p>--</p>
              <p>--</p>
            </td>
            <td><p id="a">SET5</p>
              
              <p><br>--</p>
          
              <p>--</p>
              <p><br>--</p>
              <p>--</p>
              <p>--</p>
            </td>
            
          </tr>
          <tr>
            <th  id="a" scope="row">2</th>
            <td><p id="a" style="color:whitesmoke">BICEPS</p>
           <p id="superset">	1.SUPERSET<br>
              a)  DB	Hammer	Curl<br>
              b)  Dumbbell	conc.	Curl</p>
            
              <p id="regularset">	2.REGULAR SET<br>
                a) Prone	Incline	Barbell	Spider	Curl
              </p>
              
              <p id="regularset">	2.REGULAR SET<br>
                a) 			High	Angle	cable	Curl
              </p>

                <td><p id="a">SET1</p>
               
                  <p><br>12</p>
                  <p>12</p>
                  <p>12</p>
                  <p><br>12</p>
                  
               </td>
   
               <td><p id="a">SET2</p>
                 <p><br>10</p>
                 <p>10</p>
                 <p>12</p>
                 <p><br>12</p>
               
               </td>
               <td><p id="a">SET3</p>
                 <p><br>8</p>
                 <p>8</p>
                 <p>12</p>
                 <p><br>12</p>
                 
               </td>
               <td><p id="a">SET4</p>
                 <p><br>--</p>
                 <p>--</p>
                 <p>--</p>
                 <p><br>--</p>
                 
               </td>
               <td><p id="a">SET5</p>
                 
                 <p><br>--</p>
             
                 <p>--</p>
                 <p>--</p>
                 <p><br>--</p>              
               </td>  
          </tr>     
        </tbody>
      </table>
      </div>
      </div>
      </div>

      <hr style="width: 85%; background-color: rgb(0, 0, 0); position: absolute; left:7.59%; border-top: 3px solid rgb(240, 240, 234);">

    
      <div class="container mt-5"> 
        <div class="row">
          <div class="col">
        <table id="secondColor" class="table">
        <thead>                
        <tr>
          <td id="f" scope="row">FRIDAY</tr>
        </tr> 
        </thead>

        <tbody>
          <tr>
            <th id="a" scope="row">1</th>
            <td><p id="a" style="color:whitesmoke">LEGS</p>
            <p id="superset">	1.REGULAR SET<br>
              a) Leg	Press	(Normal	Stance)
            </p>
            
              <p id="regularset">	2.SUPER SET<br>
              a)  DB	Sumo	Squat<br>
              b)  DB	Deadlift
              </p>

              <p id="superset"> 3.REGULAR SET <br>
                a) Leg	Press	on	Smith	Machine	(Wide	
                Stance)	or	Wide	stance	Leg	Press
              </p>

              <p id="superset"> 3.MULTI-SET <br>
                a) Prisoner	Lunges	&	Squats	
              </p>

              <p id="superset"> 3.REGULAR SET <br>
                a) Calf	Raise	on	Leg	Press
              </p>

              </td>
            <td><p id="a">SET1</p>
               
               <p><br>12</p>
               <p><br>12</p>
               <p>12</p>
               <p>12</p>
               <p><br>8+8</p>
               <p><br>12</p>
            </td>

            <td><p id="a">SET2</p>
              <p><br>10</p>
              <p><br>10</p>
              <p>10</p>
              <p>10</p>
              <p><br>8+8</p>
              <p><br>12</p>
            </td>
            <td><p id="a">SET3</p>
              <p><br>8</p>
              <p><br>8</p>
              <p>8</p>
              <p>8</p>
              <p><br>8+8</p>
              <p><br>12</p>
            </td>
            <td><p id="a">SET4</p>
              <p><br>--</p>
              <p><br>--</p>
              <p>--</p>
              <p>--</p>
              <p><br>--</p>
              <p><br>--</p>
            </td>
            <td><p id="a">SET5</p>
              
              <p><br>--</p>         
              <p><br>--</p>
              <p>--</p>
              <p>--</p>
              <p><br>--</p>
              <p><br>--</p>
            </td>        
          </tr>   
        </tbody>
      </table>
      </div>
      </div>
      </div>
      <hr style="width: 85%; background-color: rgb(0, 0, 0); position: absolute; left:7.59%; border-top: 3px solid rgb(240, 240, 234);">

      <h3 class="mt-5" style="color:white">
       Important point to remember:
       <ul>
         <li>
          This is the workout routine that is just for 2-3 months. After that , it has to changed according to the goal. Every workout split has
          to be changed after every 2-3 months. You cannot follow the same workout split for a long time as muscle hits plateau.
          Muscle plateau is something when muscles stop progressing.
         </li>
       </ul>
      </h3>

      <div class="container button">
        <a class="navbar-brand" href="/main"><button type="button" class="btn btn-secondary mt-5 mb-1">Back to main</button></a>
      </div>

      <footer class="footer py-3 mt-auto">
        <div class="container">
            <span class="text-muted">&copy; Workout Split &copy;</span>
        </div>
      </footer>
     
      <script src="javascripts/excercise.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>