<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">       
</head>
<body class="bg-dark">
  <nav id="n" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand N" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active F" aria-current="page" href="/main">Main</a>
          </li>
          <li class="nav-item">
            <a class="nav-link E" href="/excercise">Excercises</a>
          </li>
          <li class="nav-item">
            <a class="nav-link D" href="/Diet" role="button" aria-expanded="false">
             Healthy Foods
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nF" href="/nutritionFacts" role="button" aria-expanded="false">Nutrition Myths</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light bg-dark" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row">
      <div id="firstImg" class="col">
        <img src="https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=968&q=80" width="800px" height="600px">
      </div>

      <div class="col">
        <p style="color:white" >"A gymnasium, also known as a gym, is a covered location for athletics. 
        The word is derived from the ancient Greek gymnasium. They are commonly found in athletic and fitness centres, and as activity and learning spaces in educational institutions. 
        "Gym" is also slang for "fitness centre", which is often an area for indoor recreation. A gym may be open air as well.
         A gym is a place with a number of equipments and machines used by the people to do exercises.
         Gymnasia apparatuses such as barbells, jumping board, running path, tennis-balls, cricket field, and fencing area are used as exercises. In safe weather, outdoor locations are the most conducive to health. Gyms were popular in ancient Greece. Their curricula included self-defense, gymnastica medica, or physical therapy to help the sick and injured, and for physical fitness and sports, from boxing to dancing to skipping rope.
         Gymnasia also had teachers of wisdom and philosophy. Community gymnastic events were done as part of the celebrations during variong tournaments and of chivalry.
         In Ancient Greece, the gymnasion (γυμνάσιον) was a locality for both physical and intellectual education of young men. The latter meaning of intellectual education persisted in Greek, 
         German and other languages to denote a certain type of school providing secondary education, the gymnasium, whereas in English the meaning of physical education pertained in the word gym."
        </p>
      </div>
    </div>
  </div>
  <hr style="width: 85%; background-color: rgb(240, 240, 234); position: absolute; left:7.59%; border-top: 3px solid rgb(240, 240, 234);">

  <div class="bg-dark mt-5">
  <h2 style="color:white; letter-spacing: 1px; text-align: center; padding:30px;">"Lets talk about some gym equipments"</h2>
  </div>

  <hr style="width: 85%; background-color: rgb(240, 240, 234); position: absolute; left:7.59%; border-top: 3px solid rgb(240, 240, 234);">

  <div class="container mt-5">
    <div class="row">
      <div id="upper" class="col">
        <img src="/images/inclinedBenchPress.jpg" width="300" height="200">
        <button type="button" class="btn btn-secondary mt-2 mb-1">Upper Chest barbell presses</button>
        <p style="color:white">This one is for upperChest part of the body.
          <br>Its very important ot maintain proper postures <br>for targetting our upperchest muscle</p>
      </div>
      
      <div id="flat" class="col">
        <img src="/images/flatBenchPress.png" width="300" height="200">
        <button type="button" class="btn btn-secondary mt-2 mb-1">Middle Chest barbell presses</button>
        <p style="color:white">This one is for middleChest part of the body.
          <br>Its very important ot maintain proper postures <br>for targetting our middleChest muscle</p>
      </div>
   
      <div id="lower" class="col">
        <img src="/images/lowerChestPress.jpg" width="300" height="200">
        <button type="button" class="btn btn-secondary  mt-2 mb-1">Lower Chest barbell presses</button>
        <p style="color:white">This one is for lowerChest part of the body.
          <br>Its very important ot maintain proper postures <br>for targetting our lowerChest muscle</p>
      </div>
    </div>
  </div>
</div>

<hr style="width: 85%; background-color: rgb(240, 240, 234); position: absolute; left:7.59%; border-top: 3px solid rgb(240, 240, 234);">


<div class="container shadow mt-5">
  <div id="lat" class="row">
    <div class="col-md-4">
      <img src="/images/lat-pull.jpg" class="img-fluid rounded-start" alt="latpulldown" width="300" height="200">
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-secondary">Lat PullDown Machine</button>
      <p style="color:white">This machine is used to target the lats of the back muscles. This is one of the important machine to target the lats part of
        the back muscles. The Various back excercises that can be performed are:
        <ul style="color:white">
          <li>Wide grip lat PullDown</li>
          <li>Close grip lat PullDown</li>
          <li>Behind the Neck lat PullDown</li>
          <li>Reverse grip lat PullDown</li>
          <li>V-Bar PullDown</li>
          <li>Straight Arm lat pullDown</li>
        </ul>
      </p>
    </div>
  </div>
</div>

<div class="container shadow mt-5">
  <div id="lat" class="row">
    <div class="col-md-4">
      <img src="/images/smith.jpg" class="img-fluid rounded-start" alt="latpulldown" width="300" height="200">
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-secondary">Smith Machine</button>
      <p style="color:white">This is Smith Machine that is used for targetting various muscles. Various excercises that
      can be performed are:
    <ul style="color:white">
     <li>Normal Chest excercies</li>
     <li>V-bar chest press</li>
     <li>Shoulder Press</li>
     <li>Barbell Shrugs</li>
     <li>Upright rows</li>
     <li>Squats</li>
    </ul>
  </p>

    </div>
  </div>
</div>

<div class="container shadow mt-5">
  <div id="lat" class="row">
    <div class="col-md-4">
      <img src="/images/legpress.jpg" class="img-fluid rounded-start" alt="latpulldown" width="300" height="200">
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-secondary">Smith Machine</button>
      <p style="color:white">This is leg press machine. This is for targetting legs only. Various excercises includes:
        <ul style="color:white">
          <li>Leg presses</li>
          <li>Calf raises</li>
          <li>Single leg presses</li>
        </ul>
      </p>
    </div>
  </div>
</div>

<div class="container shadow mt-5">
  <div id="lat" class="row">
    <div class="col-md-4">
      <img src="/images/cable-cross.jpg" class="img-fluid rounded-start" alt="latpulldown" width="300" height="200">
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-secondary">Cable crossover Machine</button>
      <p style="color:white">This machine is used to hit various muscles. Some of them are:
      <ul style="color:white">
        <li>Upper, Middle and Lower Chest presses</li>
        <li>Biceps curls</li>
        <li>Triceps</li>
        <li>Shoulder</li>
      </ul>
    </p>
    </div>
  </div>
</div>

<footer class="footer py-3 mt-auto">
  <div class="container">
      <span class="text-muted">&copy; Gym Machines &copy;</span>
  </div>
</footer>
   
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
  <script src="javascripts/main.js"></script>
</body>
</html>