<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Nutrition Myths</title>
    <link href="/stylesheets/nutritionFacts.css" rel="stylesheet" type="text/css">
</head>
<body class="bg-light elements">

    <div class="card">
      <div class="card-body">
        <h1>Some common nutrition myths</h1>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <img id="bw" src="/images/Brown-Eggs-Vs-White-Eggs.jpg" width="400px" height="250px">
        </div>
  
        <div class="col-md-6">
          <p style="color:black" >"Its a very common myth that wheather brown eggs is better or white eggs.<br>But its not true.
            When it comes to nutrition value, its same in both the types of eggs<br>
            The important nutrient is omega-3.It can be in brown eggs or white eggs.<br>
            So its important to buy any type of eggs that are rich in omega-3. Omega-3 is very important nutrient."<br>
            Some of the health benefits are:
           
           <ul> 
             <li>
              Helps in weight loss.
             </li>
             <li>
              Reduce Cholestrol levels.
             </li>
             <li>
              Improve skin health.
             </li>
             <li>
              Lowers Anxiety and Depression.
            </li>
          </ul>

          </p>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col">

        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
  
        <div class="col">
          <p style="color:black" >"In this, brown bread is definetly better. White bread cause ups and downs of blood glucose levels so its 
            really not good for muscle gain or fat loss.<br>
            Thus Brown bread is the clear winner. But the important thing to note in brown bread is that it should be made of whole wheat."<br>
            Some of the health benefits are:
            <ul>
              <li>Provides important nutrients for growth.</li>
              <li>Helps in maintain good health.</li>
              <li>Its an excellent source of proteins,carbohydrates,fats,fiber.</li>
            </ul>
          </p>
        </div>
      
        <div class="col">
          <img id="bw" src="/images/Brown bread vs white bread.jpg" width="400px" height="250px">
        </div>

      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col">

        </div>
      </div>
    </div>
  
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <img id="bw" src="/images/brown-rice-vs-white-rice.jpg" width="400px" height="250px">
        </div>
  
        <div class="col">
          <p style="color:black">
            "This is also very common myth that brown rice is better than white rice.But its not true.<br>
            Their is not much difference between brown rice and white. Brown rice is low digestive food whereas white rice is not a slow digestive food.<br>
            So its personal choice depending upon the fitness goal."<br>
            Some of the health benefits:
            <ul>
              <li>Rice is very good source of carbohydrates.</li>
              <li>Consists of vitamin B1 and B3.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col">

        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
  
        <div class="col">
          <p style="color:black">
           Anther myth is that by going to gym, the height of the person stops. Thats not true. The height does stops but its not due 
           to excercise, but its due to lack of nutrients.<br>
           Thus following the Healthy diets with proper nutrients is important.
          </p>
        </div>

        <div class="col">
          <img id="bw" src="/images/height.jpg" width="400px" height="250px">
        </div>
      </div>
    </div>

    <img id="hm" src="images/HealthyMinds.jpg">
    
<hr style="width: 100%; background-color: rgb(0, 0, 0); position: absolute; border: 3px solid rgb(246, 248, 248);">

<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h2>"Review Section"</h2>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">

    <div class="col">
     <h3>"This is the review section. Feel free to give some reviews about the website. All your reviews will be considered."</h3>
    </div>

    <form action="/review" method="POST" class="mb-3 validated-form" novalidate>
    <div class="col">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">First name</label> 
        <input type="firstname" name="review[firstname]" class="form-control" id="exampleFormControlInput1" placeholder="first name" required>
        <div class="valid-feedback">
          Looks good!!!
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Last name name</label> 
        <input type="lastname" name="review[lastname]" class="form-control" id="exampleFormControlInput1" placeholder="last name" required>
        <div class="valid-feedback">
          Looks good!!!
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Your Reviews</label>
        <textarea class="form-control"  name="review[reviews]" id="exampleFormControlTextarea1" placeholder="your reviews..." rows="3" required></textarea>
        <div class="valid-feedback">
          Looks good!!!
        </div>
      </div>
      <div>
        <button class="btn btn-success">Submit</button>

      </div>
    </div>
  </form>
  </div>
</div>

<div class="container button">
  <a class="navbar-brand" href="/main"><button type="button" class="btn btn-secondary mt-5 mb-1">Back to main</button></a>
</div>

<footer class="footer py-3 mt-auto">
  <div class="container">
      <span class="text-muted">&copy;Nutrition Myths &copy;</span>
  </div>
</footer>
      
      <script src="javascripts/nutritionFacts.js"></script> 
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

      
    <script>
      (function () {
          'use strict'
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          const forms = document.querySelectorAll('.validated-form')
          // Loop over them and prevent submission
          Array.from(forms)
              .forEach(function (form) {
                  form.addEventListener('submit', function (event) {
                      if (!form.checkValidity()) {
                          event.preventDefault()
                          event.stopPropagation()
                      }
                      form.classList.add('was-validated')
                  }, false)
              })
      })()
  </script>

</body>
</html>